@font-face {
  font-family: 'Galano Grotesque Alt';
  font-weight: 800;
  font-style: normal;
  src: url('GalanoGrotesqueAlt-ExtraBold.ttf');
}

@font-face {
  font-family: 'Galano Grotesque Alt';
  font-weight: 700;
  font-style: normal;
  src: url('GalanoGrotesqueAlt-Bold.ttf');
}

@font-face {
  font-family: 'Galano Grotesque Alt';
  font-weight: 600;
  font-style: normal;
  src: url('GalanoGrotesqueAlt-SemiBold.ttf');
}

@font-face {
  font-family: 'Galano Grotesque Alt';
  font-weight: 500;
  font-style: normal;
  src: url('GalanoGrotesqueAlt-Medium.ttf');
}

@font-face {
  font-family: 'Galano Grotesque Alt';
  font-weight: 400;
  font-style: normal;
  src: url('GalanoGrotesqueAlt-Regular.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 800;
  font-style: normal;
  src: url('NunitoSans-ExtraBold.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-style: normal;
  src: url('NunitoSans-Bold.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 600;
  font-style: normal;
  src: url('NunitoSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
  src: url('NunitoSans-Regular.ttf');
}
