.bgGrid {
  display: grid;
  grid-template-rows: repeat(6, 246px);
  grid-template-columns: repeat(9, 206px);
  grid-gap: 2px;
  box-shadow: inset 200px 0px 200px 400px #062233, 0 0 200px 100px #062233;
  transform: matrix(0.59, -0.32, 0.59, 0.3, -673, -553);

  /* transform: matrix(0.54, -0.29, 0.5, 0.37, -350, -308); */

  @screen md {
    grid-template-rows: repeat(6, 246px);
    grid-template-columns: repeat(7, 206px);
    box-shadow: inset 100px 0px 200px 300px #062233, 0 0 200px 100px #062233;
    transform: matrix(0.64, -0.37, 0.62, 0.39, 44, -476);
  }
}
