.points {
}
.points li:nth-child(n + 5) {
  display: none;
}

@media screen and (min-width: 414px) {
  .points li:nth-child(n + 5) {
    display: block;
  }
  .points li:nth-child(n + 7) {
    display: none;
  }
}
