.emailMarketingMobile {
  transform: matrix(0.69, -0.34, 0.63, 0.39, -52, -195);
}
.personalizationMobile {
  transform: matrix(0.61, -0.31, 0.58, 0.37, -65, -168);
}
.marketingAutomationMobile {
  transform: matrix(0.66, -0.36, 0.73, 0.43, 30, -45);
}
.dataAnalyticsMobile {
  transform: matrix(0.67, -0.42, 0.76, 0.38, -35, -75);
}
.conversionOptimizationMobile {
  transform: matrix(0.69, -0.34, 0.63, 0.39, -16, -114);
}
